<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
    <title>@ViewData["Title"] - Garage88</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap" rel="stylesheet">
    <!-- End Google Fonts -->
    <!-- Font Awesome via CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Croppie -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" />

    <!-- Syncfusion ASP.NET Core controls styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.2.43/fluent.css" />

    <!-- Syncfusion ASP.NET Core Script Manager -->
    <ejs-scripts></ejs-scripts>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- JQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPildPyuwamnN1w0OTg7aJr6z0m0dtP0U&callback=initMap"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body class="d-flex flex-column min-vh-100" style="font-family: 'Josefin Sans', sans-serif; max-width: 100%;">
    <header>
        <div class="row" id="myHeader">
            <!-- Social Media -->
            <div class="col-2">
                <div class="media d-flex align-items-center">
                    <a href="https://www.facebook.com/garage88/" target="_blank" class="mediaBtn facebook">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/garage88/" target="_blank" class="mediaBtn instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.twitter.com/garage88/" target="_blank" class="mediaBtn twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>

            <div class="col-4"></div>

            <div class="col-3">
                <div class="row justify-content-end align-items-center">
                    @if (User.Identity.IsAuthenticated) @* User.Identity.Name & Logout *@
                    {
                        if (User.IsInRole("Client"))
                        {
                            <div class="col-auto d-flex align-items-center">
                                <a asp-area="" asp-controller="Account" asp-action="UpdateUser" class="aColor">@this.User.Identity.Name</a>
                            </div>
                            <div class="col-auto d-flex align-items-center">|</div>
                            <div class="col-auto d-flex align-items-center">
                                <a asp-area="" asp-controller="Account" asp-action="Logout" class="aColor"><i class="fa-regular fa-user"></i> Logout</a>
                            </div>
                        }

                        <!-- Other Menus -->
                        <div class="col-auto d-flex align-items-center">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="aColor">Home</a>
                        </div>
                        <div class="col-auto d-flex align-items-center dropdown">
                            <a id="dropTitle" class="aColor dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Clients" asp-action="Index">Clients</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Vehicles" asp-action="Index">Vehicles</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Mechanics" asp-action="Index">Mechanics</a>
                                <a class="dropdown-item" asp-area="" asp-controller="WorkOrders" asp-action="Index">Repairs</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Appointment" asp-action="Index">Schedule/Appointments</a>
                            </div>
                        </div>
                       @*  <div>
                            <a class="aColor" asp-area="" asp-controller="About" asp-action="Technicians">Technicians</a>
                         </div> *@
                        <div class="col-auto d-flex align-items-center">
                            <a class="aColor" asp-area="" asp-controller="About" asp-action="Index">About Us</a>
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            <a class="aColor" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            <a class="aColor" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </div>

                        @if (User.IsInRole("Admin")) @* If it's an Admin *@
                        {
                            <div class="col-auto d-flex align-items-center">
                                <a asp-area="" asp-controller="DashboardPanel" asp-action="Index" class="aColor">Admin Panel</a>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-auto d-flex align-items-center">  @* Login *@
                            <a asp-area="" asp-controller="Account" asp-action="Login" class="aColor"><i class="fa-regular fa-user"></i> Login</a>
                        </div>
                    }
                </div>
            </div>

            <div class="col-1"></div>
        </div>
    </header>

    <div class="container-fluid mainContainer" style="padding:0;padding-bottom:10px" id="Container">
        @RenderBody()
    </div>

    <script>
        $(function () {
            var $menu = $('.dropdown-menu');

            $('.dropdown-toggle').hover(
                function () {
                    $menu.css('opacity', 1);
                },
                function () {
                    $menu.css('opacity', 0);
                });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

@* <footer class="mt-auto">
        <div class="container">
            &copy; 2024 - Garage88 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@

</html>

<style>

    /* Estilo para o menu geral */
    #menu {
        display: flex;
        justify-content: space-between; /* Alinhamento dos itens do menu */
        align-items: center; /* Alinha verticalmente os itens */
        width: 100%;
        padding: 0 10px; /* Adiciona padding para espaçamento */
    }

    /* Itens do menu */
    .navbar-nav .nav-link {
        padding: 15px 10px; /* Espaçamento em volta dos itens */
        position: relative; /* Para o efeito de hover */
        text-align: center; /* Centraliza o texto */
    }

    /* Estilos para dropdown */
    .dropdown .dropdown-menu {
        display: block;
        opacity: 0;
        border-radius: 0;
        transition: all 1000ms ease;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
    }

    .dropdown-item:hover {
        background-color: #f7b801;
    }

    .dropdown .dropdown-menu {
        display: block;
        opacity: 0;
        border-radius: 0;
        transition: all 1000ms ease;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
    }

    .dropdown:hover > #dropTitle {
        color: #f7b801;
    }

    #drop:after {
        content: "";
        position: absolute;
        background-color: #f7b801;
        height: 2px;
        width: 0;
        left: 0;
        bottom: -8px;
        transition: 0.3s;
    }

    #drop:hover::after {
        width: 100%;
    }

    .navbar-nav > li {
        padding-right: 30px;
        background-color: transparent;
    }

    a {
        color: #353535;
        /* text-decoration: none; */ /* Se não for necessário, mantenha comentado */
    }

    .nav .navbar-social > a {
        padding: 0;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        background-color: transparent;
    }

    #menu {
        justify-content: space-between;
        align-items: center;
        display: flex;
        width: 500px;
        margin-left: auto;
        margin-right: 0;
        padding-right: 137px;
    }

    #menu > a {
        padding: 0 10px;
        position: relative;
        letter-spacing: 1px;
    }

    #menu > a:after {
        content: "";
        position: absolute;
        background-color: #f7b801;
        height: 2px;
        width: 0;
        left: 0;
        bottom: -8px;
        transition: 0.3s;
    }

    #menu > a:hover::after {
        width: 100%;
    }

    .media {
        justify-content: space-between;
        align-items: center;
        display: flex;
        max-width: 350px;
        padding-left: 200px;
    }

    .mediaBtn {
        display: inline-block;
        width: 30px;
        height: 25px;
        background: #f4f3ee;
        border-radius: 30%;
        overflow: hidden;
        position: relative;
    }

    .mediaBtn i {
        line-height: 25px;
        font-size: 15px;
        transition: 0.2s linear;
    }

    .mediaBtn:hover i {
        transform: scale(1.3);
        color: #f4f3ee;
    }

    .mediaBtn::before {
        content: "";
        position: absolute;
        width: 140%;
        height: 140%;
        transform: rotate(45deg);
        left: -110%;
        top: 90%;
    }

    .facebook::before {
        background: #3b5998;
    }

    .instagram::before {
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    }

    .twitter::before {
        background: #1DA1F2;
    }

    .mediaBtn:hover::before {
        animation: aaa 0.7s 1;
        top: -10%;
        left: -10%;
    }

    @@keyframes aaa {
        0% {
            left: -110%;
            top: 90%;
        }

        50% {
            left: 10%;
            top: -30%;
        }

        100% {
            top: -10%;
            left: -10%;
        }
    }

    .croppie-container {
        width: 100%;
        height: 80%;
    }
</style>

