<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Garage88</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <style>

         body{
             background-color:#f4f3ee;
             margin:0;
         }

         .divider:after,
         .divider:before {
         content: "";
         flex: 1;
         height: 1px;
         background: #eee;
         }

         .imgBorder{
             box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
             border:solid 4px #f4f3ee;
         }

         input{
             box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
         }

         button{
             box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
             border-radius: 0%;
         }

         .over{
             opacity: 1;
             transition:all 0.4s;
         }

         .over:hover {
             opacity: 0.8;
         }

        .btn.sharp {
         border-radius: 0;
         }

          input.sharp{
             border-radius:0;
         }

         .social{
         box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
         filter:grayscale(100%);
         transition:ease-out 0.4s;
         }

         .social:hover{
             filter:grayscale(0%);
         }

    </style>

    <div class="container-fluid" style="padding:0">
        @RenderBody()

    </div>
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
