@{
    ViewData["Title"] = "Error401";
    Layout = "_Layout";
}

<div class="container-fluid persNotAuthorized">
    <div class="row d-flex align-items-center justify-content-center lettering">
        <h2>ERROR 401</h2>
        <h4 style="color:white">Oops! You are not authorized to access this page!</h4>
        <a href="javascript:history.go(-1)" id="btnBack" class="btn sharp btn-primary btn-lg btn-block backHomepageBtn">
            <i class="fas fa-hand-point-left"></i>
            Return Back
        </a>
        <a asp-action="Index" asp-controller="Home" class="btn sharp btn-secondary btn-lg btn-block backHomepageBtn">
            <i class="fas fa-home"></i>
            Go to Homepage
        </a>
    </div>
    <img id="bckgroundImage" src="~/images/error401.png" alt="Unauthorized Access Background" />
</div>

<style>
    .persNotAuthorized {
        width: 100%;
        margin: 0;
        overflow: hidden;
        padding: 0 !important;
        padding-top: 0 !important;
    }

    h2 {
        font-family: 'Vampiro One', cursive;
        color: #f7b801;
        font-size: 60px;
    }

    .lettering {
        display: block !important;
        position: absolute;
        height: 40% !important;
        right: 30%;
        top: 30%;
        padding: 20px;
        text-align: center;
        border: solid 5px black;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    .backHomepageBtn {
        background-color: #f7b801;
        margin-top: 15px;
        filter: saturate(100%);
        transition: all 0.4s;
    }

    img {
        filter: grayscale(1);
        width: 100%;
        transition: ease 0.8s;
    }
</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">


        $("#btnBack")
            .mouseover(() => {
                debugger;
                document.getElementById("bckgroundImage").style.filter = "grayscale(0)";
            })
            .mouseout(() => {
                document.getElementById("bckgroundImage").style.filter = "grayscale(1)";
            }
            );

    </script>

}