@{
    ViewData["Title"] = "NotAuthorized";
    Layout = "~/Views/Shared/_PasswordLayout.cshtml";
}
<style>

    .persNotAuthorized {
        background: url(/images/notAuthorized.jpg);
        background-size: 60%;
        background-position: left;
        filter: grayscale(0.5);
        background-repeat: no-repeat;
        background-color: black;
        transition:all 0.7s;
        filter:hue-rotate(0deg);
    }


    h2{
        font-family:'Vampiro One', cursive;
        color:#f7b801;
        font-size:60px;
    }


    .lettering {
        display: block !important;
        position: absolute;
        height: 50% !important;
        right: 30%;
        top: 30%;
    }

    .backHomepageBtn {
        background-color: #f7b801;
        margin-top: 150px;
        filter:saturate(100%);
        transition:all 0.4s;
    }
    .backHomepageBtn:hover {
        filter:saturate(130%);

    }


</style>

<section class="vh-100 persNotAuthorized">

    <div class="container py-5 h-100">

        <div class="row d-flex align-items-center justify-content-center lettering">
            <h2>Error 401</h2>
            <h4 style="color:white">Ooops, Seems like you're lost.</h4>
            <a asp-action="Index" asp-controller="Home" id="btnBack" class="btn sharp btn-primary btn-lg btn-block backHomepageBtn">
                <i class="fas fa-hand-point-left"></i>
                Back to homepage
            </a>
        </div>

    </div>

</section>