@model Garage88.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_PasswordLayout.cshtml";
}

<style>
    img{
        filter:grayscale(90%);
        transition:ease-in 0.4s;
    }

    img:hover{
        filter:grayscale(0%);
    }

</style>

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">

            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="/images/siteContent/nice.jpg" class="img-fluid imgBorder" alt="Phone image">
            </div>

            @if (string.IsNullOrEmpty(ViewBag.Message))
            {

                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form method="post">
                        <div asp-validation-summary="All"></div>
                        <input type="hidden" asp-for="Token" />
                        <input type="hidden" asp-for="UserName" />

                        <div class="form-outline mb-4">
                            <span asp-validation-for="Password" class="text-warning"></span>
                            <input asp-for="Password" class="form-control sharp form-control-lg" />
                            <label asp-for="Password"></label>
                        </div>

                        <div class="form-outline mb-4">
                            <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                            <input asp-for="ConfirmPassword" class="form-control sharp form-control-lg" />
                            <label asp-for="ConfirmPassword"></label>
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="btn sharp btn-primary btn-lg btn-block">Recover Password</button>

                    </form>
                </div>
            }
            else
            {
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">

                    <a asp-action="Login" asp-controller="Account" class="btn sharp btn-success btn-lg btn-block">Go to Login</a>

                    <div class="text-success">
                        <p>
                            @ViewBag.Message
                        </p>
                    </div>

                </div>
            }

        </div>
    </div>
</section>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}