@model Garage88.Models.AddClientAndVehicleToEstimateViewModel

@{
    // Layout = "~/Views/Shared/_LayoutDashboardPanel.cshtml";
    Layout = "_Layout";
    ViewData["Title"] = "Estimates";
    ViewData["BreadCrumb"] = "Add Client";
}

<h4 style="text-align:center">Add Client and Vehicle to the Estimate</h4>
<hr />

<div class="col-md-4">
    <form asp-action="AddClient">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @*<div class="form-group">
        <label asp-for="ClientId" class="control-label"></label>
        <select asp-for="ClientId" asp-items="Model.Clients" class="form-control"></select>
        <span asp-validation-for="ClientId" class="text-danger"></span>
        </div>*@

        <div class="form-group">
            <label asp-for="VehicleId" class="control-label"></label>
            <select asp-for="VehicleId" asp-items="Model.Vehicles" class="form-control"></select>
            <span asp-validation-for="VehicleId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Add Client" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#ClientId").change(function() {
                $("#VehicleId").empty();
                debugger;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetVehiclesAsync", "Estimates")',
                    dataType: 'json',
                    data: { customerId: $("#ClientId").val() },
                    success:
                        function (vehicles) {
                            $("#VehicleId").append('<option value="0">[Select a vehicle]</option>');
                            $.each(vehicles, function(i, vehicle) {
                                $("#VehicleId").append('<option value="'
                                    + vehicle.id + '">'
                                    + vehicle.plateNumber + '</option>');
                            });
                        },

                    error: function(ex) {
                        console.log(ex);
                        alert('Failed to retrieve vehicles.' + ex.statusText);
                    }
                });
                return false;
            })
        });

    </script>
}