@model Garage88.Models.EditClientViewModel

@{
    // Layout = "~/Views/Shared/_LayoutDashboardPanel.cshtml";
    Layout = "_Layout";
    ViewData["Title"] = "Clients";
    ViewData["BreadCrumb"] = "Edit Client";
}

<div>
    <hr />
    <p style="text-align:center">Edit @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</p>
    <hr />
</div>

<div class="row" style="justify-content:center;margin-top:50px">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nif" class="control-label"></label>
                <input asp-for="Nif" class="form-control" />
                <span asp-validation-for="Nif" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
            <input type="submit" value="Update Client" class="btn btn-primary" />
    
            <a asp-action="Create" asp-controller="Vehicles" asp-route-email="@Model.Email" asp-route-isEstimate="false" class="btn btn-danger">
                <i class="fas fa-car"></i> Add Vehicle
            </a>
    
            @* <a asp-action="_WorkOrder" asp-controller="Pdf" asp-route-isEstimate="false" class="btn btn-info">
                <i class="fas fa-download"></i> Download Work Order
            </a>

            <a asp-action="_Estimate" asp-controller="Pdf" asp-route-isEstimate="true" class="btn btn-info">
                <i class="fas fa-file-pdf"></i> Download Estimate
            </a> *@
    
            <a asp-action="Index" class="btn btn-success">
                <i class="fas fa-arrow-circle-left"></i> Back to List
            </a>
        </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}