@model Garage88.Data.Entities.Mechanic

<form asp-action="Create" method="post">
    <div>
        <label>Nome</label>
        <input asp-for="FirstName" />
    </div>
    <div>
        <label>Cliente</label>
        <select asp-for="ClientId" asp-items="ViewBag.Clients"></select>
    </div>
    <div>
        <label>Veículo</label>
        <select asp-for="VehicleId" asp-items="ViewBag.Vehicles"></select>
    </div>
    <button type="submit">Guardar</button>
</form>
