@{
    ViewData["Title"] = "ACService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="height:70vh">
    <div class="col-1"></div>
    <div class="col-10" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom:25px;margin-top:25px; background-color:#f4f3ee;padding:0;display:inline-block">
        <div class="container-sm">
            <div class="imageContainer">
                <img src="/images/siteContent/ac.jpg" />
            </div>
            <div class="servicesTitle">
                <p><b>A/C & HEATING SERVICE</b></p>
            </div>
        </div>

        <div class="container-sm">
            <div class="serviceContent">
                <p>
                    If the breeze from your open windows just isn't cutting it, come by our shop to get an expert opinion on what we
                    can do to fix your A/C or heating problems. We offer the best prices in the market and the best workmanship.

                <p>
                    <b>Why maintaining your AC System is very important:</b>
                    <br>A/C systems may break eventually with usage, hose pipes may clog and drip if not serviced, causing
                    reduced efficiency heating and cooling capabilities. Regular maintenance will keep your AC operating at peak
                    performance!
                </p>

                <p>
                    <b>Indications your A/C system may be having issues:</b>
                    <ul>
                        <li>Low airflow even at the highest fan setting.</li>
                        <li>If your air conditioning blows only slightly cooler air compared to the exterior air</li>
                        <li>The defroster takes longer than typical to operate, or does not operate</li>
                        <li>A/C only functions when driving, not when idling, or quits blowing when the car is stationary</li>
                        <li>Heating system blows cold air or the air conditioning blows warm air</li>
                        
                    </ul>
                </p>

                <p>
                    <b>A comprehensive evaluation of an A/C system includes:</b>
                    <ul>
                        <li>Examining the internal controls and blower</li>
                        <li>Checking radiatorcoolant operating temperature, hoses, pressure radiator cap and thermostat</li>
                        <li>Inspecting system and seals for leaks or various other damages.</li>
                        <li>Verifying the A/C pressure meets manufacturer specifications</li>
                        <li>A cooling system pressure test</li>
                        
                    </ul>
                </p>

                <p>
                    <b>Our repair and maintenance services include:</b>
                <p>
                    <b>Coolant System Flush</b>
                    <br>A car's coolant system transfers excess heat from one part of the engine and finally loses it through the radiator fins.
                    With time, the coolant becomes old and dirty. The old coolant will negatively impact the system's performance.
                    To make sure the system is working effectively, consider having a regular coolant system flush. A coolant flush is basic
                    maintenance for your car's cooling system.
                </p>
                <p>
                    <b>Radiator Flush</b>
                    <br>A radiator is the part of your vehicle that keeps the engine cool and protects it from excessive heating. To be cool,
                    the radiator needs to remain clean - always. With time, sludge, rust and other solid deposits build up inside your car's
                    radiator. These make the cooling system become clogged and less effective. This in effect hurts your vehicle's performance.
                    A regular radiator flush is enough to keep the system in shape. For this reason, make radiator flushing a part of your routine
                    car maintenance schedule.
                </p>
                <p>
                    <b>Radiators</b>
                    <br>Radiators are heat exchangers for cooling your car's internal combustion engine. A radiator cools the engine by
                    circulating an engine coolant through the engine block - it then loses the heat to the atmosphere through radiation.
                    A radiator has a set of tubes through which the engine coolant flows. Fins surround these tubes. When the radiator fails,
                    the excess heat produced by the engine could damage the engine components. To prevent this from happening,
                    have your radiator serviced regularly. If your radiator needs needs to be handled, visit us today!
                    .
                </p>
                <p>
                    Your car will be ready to handle the hot/cold weather so you can enjoy it even more :)
                </p>

            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>


