@{
    ViewData["Title"] = "Brakes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="height:70vh">
    <div class="col-1"></div>
    <div class="col-10" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom:25px;margin-top:25px; background-color:#f4f3ee;padding:0;display:inline-block">
        <div class="container-sm">
            <div class="imageContainer">
                <img src="/images/siteContent/brakes.jpg" />
            </div>
            <div class="servicesTitle">
                <p><b>BRAKES REPAIR</b></p>
            </div>
        </div>

        <div class="container-sm">
            <div class="serviceContent">
                <p>
                    At Garage88, we want our clients to have the opportunity to feel comfortable in their vehicle. You can leave the repairs and services to our professionals and don't hesitate to ask us questions if you need any assistance.

                    Here is some valuable information on brake issues regarding our services:
                </p>

                <p>
                    <b>Anti-Lock Brake System</b>
                    <br>Anti-lock Brake Systems (ABS) ensure that the wheels don't stop rotating during braking, preventing the car from skidding and offering greater control over your vehicle.
                    If your ABS light comes on, trust Garage88 to diagnose and fix the problem.
                </p>
                <p>
                    <b>Brake Fluid Flushes</b>
                    <br>Brake fluid will absorb water from the air over time, causing the brake system to become less effective and the fluid
                    to become corrosive, possibly damaging the system. It's important to perform a brake fluid flush regularly to ensure that
                    your vehicle is using fresh fluid. Talk with us, so you know when it's time for a brake fluid flush.
                </p>
                <p>
                    <b>Brake Hoses</b>
                    <br>A brake hose is a tube carrying pressurized brake fluid from the master cylinder
                    to the brakes.  A crushed hose can cause a lagged or slow brake, and a leak in the hose can cause the brake, or the entire
                    brake system, to fail. These don't need to be replaced often, but should be replaced at the first sign of cracking.
                </p>
                <p>
                    <b>Brake Pad & Shoe Replacement</b>
                    <br>Brake pad problems can usually be identified by squealing brakes.  If your brake pads deteriorate completely, you'll hear
                    a grinding metal-on-metal sound when braking, meaning that it's too late and you're ruining your rotors or drums!
                    Those with knowledge of auto repairs & bodyshops may be able to fix this at home, but you should always see a professional
                    immediately if you have brake problems.
                </p>
                
                <br><br>

            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

