@{
    ViewData["Title"] = "Brakes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="height:80vh">
    <div class="col-1"></div>
    <div class="col-10" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom:25px;margin-top:25px; background-color:#f4f3ee;padding:0;display:inline-block">
        <div class="container-sm">
            <div class="imageContainer">
                <img src="/images/siteContent/brakes.jpg" />
            </div>
            <div class="servicesTitle">
                <p><b>BRAKES & BRAKE REPAIR</b></p>
            </div>
        </div>

        <div class="container-sm">
            <div class="serviceContent">
                <p>
                    At Pitstop Autoshop, we want our Lisbon clients to have the opportunity to feel comfortable in their vehicle.
                    You can leave the repairs and services to our professionals, but please don't hesitate to ask us questions about why a service
                    is needed or how it occurred.

                    Here is some valuable information on brake issues and corrective services Pitstop Autoshop offers.
                </p>

                <p>
                    <b>Anti-Lock Brake System</b>
                    <br>Anti-lock Brake Systems (ABS) ensure that the wheels don't stop rotating during braking,
                    preventing the car from skidding and offering greater control.
                    If your ABS light comes on, visit Pitstop Autoshop where we will be happy to diagnose and fix the problem.
                </p>
                <p>
                    <b>Brake Fluid Flushes</b>
                    <br>Brake fluid will absorb water from the air over time, causing the brake system to become less effective and the fluid
                    to become corrosive, possibly damaging the system.  It is important to perform a brake fluid flush regularly to ensure that
                    your vehicle is using fresh fluid.  Talk to our technicians at Pitstop Autoshop about when it's time for a brake
                    fluid flush.
                </p>
                <p>
                    <b>Brake Hoses</b>
                    <br>A brake hose is a tube carrying pressurized brake fluid from the master cylinder
                    to the brakes.  A crushed hose can cause a lagged or slow brake, and a leak in the hose can cause the brake, or the entire
                    brake system, to fail.  These don't need to be replaced often, but should be replaced at the first sign of cracking or wear.
                </p>
                <p>
                    <b>Brake Pad & Shoe Replacement</b>
                    <br>Brake pad problems can usually be identified by squealing brakes.  If your brake pads deteriorate completely, you'll hear
                    a grinding metal-on-metal sound when braking, meaning that it's too late and you're ruining your rotors or drums!
                    Those with knowledge of auto repair may be able to fix this at home, but you should always see an auto repair professional
                    immediately if you have brake problems.
                </p>
                <p>
                    <b>Caliper Replacement</b>
                    <br>The brake caliper houses your brake pads and fits around the rotor like a clamp, pressing the pads against the rotor
                    when you brake.  A brake caliper problem could cause uneven braking, making your car slide forward when you brake.
                    Uneven braking can also cause your vehicle to slide out of control in bad weather conditions,
                    so contact Pitstop Autoshop as soon as possible.
                </p>
                <p>
                    <b>Resurface Rotors</b>
                    <br>In a disc brake system, rotors are attached to your vehicle's wheels.  When the brake pads grip the rotor, they bring
                    both the rotor and wheels to a stop.  However, the friction causes grooves and cracks to appear over time.
                    Resurfacing brings the rotor back to a "like-new" condition, reducing squealing and wobbling.
                    Pitstop Autoshop will give your rotors a thorough inspection and recommend your best course of action.
                </p>

                <br><br>

            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

