@{
    ViewData["Title"] = "CarCare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="height:80vh">
    <div class="col-1"></div>
    <div class="col-10" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom:25px;margin-top:25px; background-color:#f4f3ee;padding:0;display:inline-block">
        <div class="container-sm">
            <div class="imageContainer">
                <img src="/images/siteContent/carCare.jpg" />
            </div>
            <div class="servicesTitle">
                <p><b>Car Care: Auto Maintenance Services</b></p>
            </div>
        </div>

        <div class="container-sm">
            <div class="serviceContent">
                <p>
                    Pitstop autoshop in Lisbon, is a full-service preventative
                    maintenance and auto repair center, providing comprehensive car care services
                    for your domestic or import vehicle to keep it running at full power.
                </p>

                <br><br>
                Our basic auto maintenance services include:
                <br><br>
                <p>
                    <b>30/60/90K Mileage Maintenance</b><br>As time goes by, various auto repair and maintenance needs come up at different intervals.
                    Most manufacturers recommend car maintenance in intervals of 30,000 miles. This is the 30/60/90K mile schedule
                    (issued by the manufacturers to car owners). Trust the experts at Pitstop's autoshop to keep you on schedule,
                    and help you preserve the condition of the vehicle, optimize its performance, and increase its resale value.
                    The 30/60/90K service includes the following:
                    <ul>
                        <li>Fluid replacements</li>
                        <li>Oil and Filter changes</li>
                        <li>Tire rotation, spin balance, and pressure adjustments</li>
                        <li>Inspection of parts and systems - gears, tires, brake pads, belts, hoses, etc.</li>
                        <li>With higher mileage: spark plugs, belts, timing belts when applicable</li>
                    </ul>
                </p>
                <p>
                    <b>Belts</b>
                    <br>
                    A fan belt, also known as a drive belt, is a belt connecting your car's engine to the front mounted accessories.
                    The fan belt rotates the water pump and engine fan, which maintains a cool environment for the engine and its components.
                    Sooner or later, your vehicle's fan belts will dry out and crack. When you are ready for a replacement you can count
                    on Pitstop's autoshop for all your vehicle's repair needs.
                    <br><br>
                    You not only have to get the belts replaced with quality ones but you should have the work done by experts.
                    To have the belts replaced by auto cooling and heating experts - and get your car driving right - visit Pitstop's autoshop today.
                    The mechanics at Pitstop's autoshop will thoroughly inspect your car's belts; replace all worn belts;
                    and adjust the installed belts.
                </p>
                <p>
                    <b>Check Engine Light</b>
                    <br>
                    No one likes to see their car's "Check Engine" light come on. The light could mean a costly problem, like a bad catalytic converter,
                    or it could be something minor, like a loose gas cap. At Pitstop's autoshop, we can pull the code and diagnose the problem
                    for you. Stop by the shop for our expert assistance.
                </p>
                <p>
                    <b>Factory Recommended Service/Maintenance</b>
                    <br>Automotive and auto parts come with a factory recommended service and maintenance schedule. The manufacturer will tell you how
                    often to service or replace an auto part. At Pitstop's autoshop, we offer factory recommended service/maintenance.
                    Our highly skilled auto mechanics offer comprehensive knowledge and experience. At Pitstop's autoshop, all your factory
                    recommended service/maintenance needs are handled with the latest diagnostic equipment. Remember, we work on all Portuguese and imported
                    vehicles (either diesel or gas engines).
                </p>
                <p>
                    <b>Hoses</b>
                    <br>Hoses transfer coolant and antifreeze throughout the engine's cooling system (including the radiator). Sooner or later,
                    your vehicle's hoses will dry out and crack. When you are ready for a replacement you can count on Pitstop's autoshop
                    for all your vehicle's repair needs.<br><br>You not only have to get the hoses replaced with quality ones but you should have the
                    work done by experts. To have the hoses replaced by auto cooling and heating experts - and get your car driving right - visit Pitstop's
                    autoshop today. The mechanics at Pitstop's autoshop will thoroughly inspect your car's hoses; replace all worn hoses;
                    and adjust the installed hoses.
                </p>
                <p>
                    <b>Oil, Lube, and Filter</b>
                    <br>To keep running smoothly, your car highly relies on oil, lube, and oil filters. Oil helps in lubricating, cooling, and cleaning
                    the internal engine components. With time, motor oil becomes contaminated. Your car needs an oil, lube, and filter change every three
                    months (or 5,000 kms's). When it is time for a lube, oil, or filter change, take your vehicle to Pitstop's autoshop in Lisbon,
                    Rua Jau,16.
                </p>
                <br><br>

            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>