@{
    ViewData["Title"] = "CarCare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="height:70vh">
    <div class="col-1"></div>
    <div class="col-10" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom:25px;margin-top:25px; background-color:#f4f3ee;padding:0;display:inline-block">
        <div class="container-sm">
            <div class="imageContainer">
                <img src="/images/siteContent/carCare.jpg" />
            </div>
            <div class="servicesTitle">
                <p><b>CAR CARE: Maintenance Services</b></p>
            </div>
        </div>

        <div class="container-sm">
            <div class="serviceContent">
                <p>
                    Our basic Auto Maintenance services include:
                </p>
                <p>
                    <b>30/60/90K Mileage Maintenance</b><br>As time goes by, various auto repair and maintenance needs come up at different intervals.
                    Most manufacturers recommend car maintenance in intervals of 30,000 miles. This is the 30/60/90K mile schedule
                    (issued by the manufacturers to car owners). Trust us at Garage88 to keep you on schedule,
                    and help you preserve the condition of the vehicle, optimize its performance, and increase its resale value.
                    The 30/60/90K service includes the following:
                    <ul>
                        <li>Fluid replacements</li>
                        <li>Oil and Filter changes</li>
                        <li>Tire rotation, spin balance, and pressure adjustments</li>
                        <li>Inspection of parts and systems - gears, tires, brake pads, belts, hoses, etc.</li>
                        <li>With higher mileage: spark plugs, belts, timing belts when applicable</li>
                    </ul>
                </p>
                <p>
                    <b>Check Engine Light</b>
                    <br>
                    No one likes to see their car's "Check Engine" light come on. The light could mean a costly problem, like a bad catalytic converter,
                    or it could be something minor, like a loose gas cap. We can pull the code and diagnose the problem for you.
                </p>
                <p>
                    <b>Factory Recommended Service/Maintenance</b>
                    <br>Automotive and auto parts come with a factory recommended service and maintenance schedule. The manufacturer will tell you how
                    often to service or replace an auto part. At Garage88, we offer factory recommended service/maintenance.
                    Our highly skilled auto mechanics offer comprehensive knowledge and experience. With us, all your factory
                    recommended service/maintenance needs are handled with the latest diagnostic equipment. Remember, we work on all types of vehicles (either electric, diesel or gas engines).
                </p>
                <p>
                    <b>Oil, Lube, and Filter</b>
                    <br>To keep running smoothly, your car highly relies on oil, lube, and oil filters. Oil helps in lubricating, cooling, and cleaning
                    the internal engine components. With time, motor oil becomes contaminated. Your car needs an oil, lube, and filter change every three
                    months (or 5,000 kms's). When it is time for a lube, oil or filter change, take your vehicle to Garage88 at Rua de Santa Iria, 12, Lisbon.
                </p>
                <br><br>

            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>