@{
    ViewData["Title"] = "Diagnostics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="height:80vh">
    <div class="col-1"></div>
    <div class="col-10" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom:25px;margin-top:25px; background-color:#f4f3ee;padding:0;display:inline-block">
        <div class="container-sm">
            <div class="imageContainer">
                <img src="/images/siteContent/diagnostics.jpg" />
            </div>
            <div class="servicesTitle">
                <p><b>Auto Electronics Repair</b></p>
            </div>
        </div>

        <div class="container-sm">
            <div class="serviceContent">
                <p>
                    Don't neglect your vehicle's electronic systems - trust our experts to repair your vehicle properly the first time around!
                    A poor driving experience can often be related to a malfunctioning computer or driving controls.
                    Come to Pitstop Autoshop to ensure your vehicle is in top driving condition.
                </p>

                <br />
                Our electronic services include:
                <br /><br />

                <p>
                    <b>Check Engine Light</b>
                    <br>No one likes to see their car's "Check Engine" light come on. The light could mean a costly problem,
                    like a bad catalytic converter, or it could be something minor, like a loose gas cap. At Pitstop Autoshop,
                    we can pull the code and diagnose the problem for you.Stop by the shop for our expert assistance.
                </p>
                <p>
                    <b>Computer</b>
                    <br>Today, car manufacturers include at least one computer in motor vehicles. This computer's main function is to monitor and
                    adjust engine and transmission operations. The computer receives input information from different sensors. The computer controls
                    spark plugs, idle speed, and fuel injectors so as to get you the best possible car performance. Failure of the car computer will
                    greatly affect the things it controls. To get the most out of your car's computer, have it evaluated regularly for updates and
                    proper operation. If it is already failing, have it repaired or replaced. To have your car's computer handled by experts, visit
                    Pitstop Autoshop in Lisbon today.
                </p>
                <p>
                    <b>Diagnostics</b>
                    <br>Mechanics at Pitstop Autoshop are able to diagnose all the electronic parts in your car.
                    For expert diagnostics services on your car's electronic devices, visit Pitstop Autoshop today.
                </p>
                <p>
                    <b>Drivability</b>
                    <br>Drivability is the degree of smoothness and steadiness of your car's acceleration. Most modern cars are fitted with on-board
                    computers that continuously check the readings from various sensors. In case of drivability problems,
                    you will receive a warning message on your car's dashboard. To have your car diagnosed for drivability issues,
                    visit Pitstop Autoshop in Lisbon today. At Pitstop Autoshop, we have the necessary tools,
                    training, and technology to diagnose and address your car's drivability issues.
                </p>
                <p>
                    <b>Engine Controls</b>
                    <br>Basically, an engine control system is an on-board computer in your car. Like all computers,
                    the engine controls are composed of hardware and software. Automotive engine control systems are responsible
                    for regulating exhaust emissions, and providing increased fuel economy. To get the best out of your car's incredibly
                    powerful technology, make sure engine controls are working properly. To check if your car's engine controls are working properly,
                    call Pitstop Autoshop today.
                </p>

                <br><br>

            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>


