@{
    ViewData["Title"] = "Electrical";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="height:80vh">
    <div class="col-1"></div>
    <div class="col-10" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom:25px;margin-top:25px; background-color:#f4f3ee;padding:0;display:inline-block">
        <div class="container-sm">
            <div class="imageContainer">
                <img src="/images/siteContent/electrical.jpg" />
            </div>
            <div class="servicesTitle">
                <p><b>Auto Electrical Repair & Maintenance</b></p>
            </div>
        </div>

        <div class="container-sm">
            <div class="serviceContent">
                <p>
                    Have a dead battery? Misfiring starter or alternator? For all of your auto electrical repair and maintenance needs,
                    come to Pitstop Autoshop in Lisbon. We service your vehicle with care, providing a high level
                    of workmanship you can trust.
                </p>
                <br>
                Our auto electrical repair and maintenance services include:
                <br><br>
                <p>
                    <b>Alternators</b>
                    <br>An alternator is an automotive device that converts mechanical energy to electric energy (ac).
                    Alternators are important parts of your car's engine and their failure would translate to your car's failure.
                    When your car's alternator develops problems, seek expert help. At Pitstop Autoshop, we have experts
                    who can handle all your alternator needs to get you back on the road - quickly. Visit Pitstop Autoshop today.
                </p>
                <p>
                    <b>Batteries</b>
                    <br>The battery supplies electric energy which powers the ignition system, the starter motor, and the lights of an automotive.
                    If you need to jump-start your vehicle in the morning, your battery could be failing. When a battery starts deteriorating,
                    it can either be replaced or repaired - this will depend on the severity of the damage. If you are having issues with your
                    car battery, contact Pitstop Autoshop in Chicago, IL. We provide a convenient battery testing and replacement
                    service to get you back on the road. Battery replacement, charging, installation, testing, and recycling - we handle it all.
                </p>
                <p>
                    <b>Starters</b>
                    <br>A starter is a motor (electric, hydraulic or pneumatic) that rotates the internal combustion engine to initiate the
                    engine's operation. Starters are important parts of your car's engine and their failure would translate to your car's failure.
                    When your car's starter develops problems, seek expert help. At Pitstop Autoshop, we have experts who can handle
                    all your starter needs to get you back on the road - quickly. Visit Pitstop Autoshop today.
                </p>
                <br><br>

            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

