@{
    ViewData["Title"] = "Engine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="height:80vh">
    <div class="col-1"></div>
    <div class="col-10" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom:25px;margin-top:25px; background-color:#f4f3ee;padding:0;display:inline-block">
        <div class="container-sm">
            <div class="imageContainer">
                <img src="/images/siteContent/engine.jpg" />
            </div>
            <div class="servicesTitle">
                <p><b>Heavy Duty Services: Engine Overhaul & Replacement</b></p>
            </div>
        </div>

        <div class="container-sm">
            <div class="serviceContent">
                <p>
                    For the big jobs, take your vehicle to Pitstop Autoshop! Our expert services are ideal whether you have a late model
                    import or newer domestic vehicle. And because we guarantee the work we perform, you can rest assured you are receiving the highest
                    quality engine overhaul and replacement services in the Lisbon area.
                </p>
                <br />

                Our heavy duty services include:
                <br><br>
                <p>
                    <b>Engine Maintenance</b>
                    <br>Any car part manufacturer will tell you that preventive maintenance is critical to the part's lifespan.
                    Like other auto parts, car engines aren't built to last forever. However, you can increase the engine's lifespan
                    by performing regular preventive maintenance. The easiest way to maintain peak performance and fuel economy is to provide
                    regular engine maintenance for your vehicle. To have your engine maintained by experts, visit Pitstop Autoshop.
                </p>
                <p>
                    <b>Engine Repair</b>
                    <br>When your vehicle shows any sign of trouble, bring it to Pitstop Autoshop for full-service engine
                    repair in Chicago, IL. From diagnostic check engine light repair to precision engine part repair, our expert auto mechanics
                    are ready to help you.
                </p>
                <p>
                    <b>Engine Replacement</b>
                    <br>The engine converts energy into useful mechanical motion. This amazing machine is what keeps your vehicle moving.
                    Although generally reliable, a car engine is susceptible to damage and breakdown. When this happens, do not sit and stress over it.
                    Take action. Take the vehicle to a mechanic for an engine replacement. Bring it to Pitstop Autoshop.
                    Visit us at 3658 N Lincoln for quality engine replacement services.
                </p>
                <p>
                    <b>Timing Belt</b>
                    <br>A timing belt is a part of your car's internal combustion engine. The belt synchronizes the camshaft and the crankshaft
                    rotation so that the engine valves open and close at the correct timings. Also, the belt prevents the piston from striking
                    the valves in an interference engine. A timing Belt is a rubber belt that usually features teeth on the inside surface,
                    while a timing chain is a metal roller chain. Most cars we drive now have timing belts instead of timing chains and gears.
                    Although different manufacturers have their recommended mileage, you need to have your car's timing belt checked regularly.
                    To have it checked by experts, contact Pitstop Autoshop today.
                </p>
                <p>
                    <b>Transmission Maintenance</b>
                    <br>Any car part manufacturer will tell you that preventive maintenance is critical to the part's lifespan.
                    Like other auto parts, car transmissions aren't built to last forever. However, you can increase the transmission's
                    lifespan by performing regular preventive maintenance. The easiest way to maintain peak performance and fuel economy
                    is to provide regular transmission maintenance for your vehicle. To have your transmission maintained by experts,
                    visit Pitstop Autoshop.
                </p>
                <p>
                    <b>Transmission Repair</b>
                    <br>Our services include transmission repair on both manual and automatic transmissions.

                    The first step in getting you back on the road is assessing your transmission to accurately determine the source of the problem.
                    In some cases, we are able to repair your transmission simply with adjustments, replacing external seals, or replacing accessible parts.
                    To have this done by specialists, call 216589564 to talk to the mechanics of Pitstop Autoshop today.
                </p>
                <p>
                    <b>Transmission Replacement</b>
                    <br>In motor vehicles, the transmission usually refers to the gear box, which uses gears and gear trains to transmit speed and torque from
                    a rotating power source to another device. You can have your car's transmission replaced with a new, rebuilt, remanufactured, repaired or
                    used transmission. For more information contact Pitstop Autoshop in Chicago, IL. Our experienced service technicians can help
                    you make the best decision for your vehicle and your wallet.
                </p>

                <br><br>

            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>


