@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome to Garage 88</h1>
    <p>The World of JDM in your Car</p>
</div>

<div class="row"> <!-- Carousel Component -->
    <div class="col-1"></div>
    <div class="col-10" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom: 20px; margin-top: 20px; background-color: #f4f3ee; padding: 0;">
        <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="8000">
                    <div class="overlay-image" style="background-image: url(./images/siteContent/slide3.jpg);"></div>
                    <div class="container">
                        <h1>Honest & Ethical</h1>
                        <p>We believe that above all, your JDM car must come with honesty and integrity.</p>
                    </div>
                </div>
                <div class="carousel-item" data-interval="8000">
                    <div class="overlay-image" style="background-image: url(./images/siteContent/slide2.jpg);"></div>
                    <div class="container">
                        <h1>Quality Workmanship</h1>
                        <p>We hire the best technicians, using top-of-the-line tools and parts to deliver high-quality JDM auto repairs & services. </p>
                    </div>
                </div>
                <div class="carousel-item" data-interval="8000">
                    <div class="overlay-image" style="background-image: url(./images/siteContent/slide1.jpg);"></div>
                    <div class="container">
                        <h1>Client Satisfaction</h1>
                        <p>Our base of work is our clients satisfaction by ensuring they are happy with the service provided.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-1"></div>
</div>

<div class="containerIcon outsideBox"> <!-- Individual Components -->
    <div class="box">
        <div>
            <img src="./images/siteContent/BRAKE_CTA.png" alt="services" class="small-img" />
        </div>
        <h5>Brakes Change</h5>
        <p><a asp-controller="Home" asp-action="Brakes">Learn More</a></p>
    </div>

    <div class="box">
        <div>
            <img src="./images/siteContent/DIAGNOSTIC_CTA.png" alt="services" class="small-img" />
        </div>
        <h5>Car Analysis</h5>
        <p><a asp-controller="Home" asp-action="Diagnostics">Learn More</a></p>
    </div>

    <div class="box">
        <div>
            <img src="./images/siteContent/ELECTRICAL_CTA.png" alt="services" class="small-img" />
        </div>
        <h5>Electric Parts</h5>
        <p><a asp-controller="Home" asp-action="Electrical">Learn More</a></p>
    </div>

    <div class="box">
        <div>
            <img src="./images/siteContent/AC_CTA.png" alt="services" class="small-img" />
        </div>
        <h5>AC Build</h5>
        <p><a asp-controller="Home" asp-action="ACService">Learn More</a></p>
    </div>

    <div class="box">
        <div>
            <img src="./images/siteContent/ENGINE_CTA.png" alt="services" class="small-img" />
        </div>
        <h5>Engine Check-ups</h5>
        <p><a asp-controller="Home" asp-action="Engine">Learn More</a></p>
    </div>

    <div class="box">
        <div>
            <img src="./images/siteContent/MAINTENANCE_CTA.png" alt="services" class="small-img" />
        </div>
        <h5>Inspect</h5>
        <p><a asp-controller="Home" asp-action="Maintenance">Learn More</a></p>
    </div>

    <div class="box">
        <div>
            <img src="./images/siteContent/SPARK_CTA.png" alt="services" class="small-img" />
        </div>
        <h5>Using Rare Pieces and Bolts</h5>
        <p><a asp-controller="Home" asp-action="CarCare">Learn More</a></p>
    </div>

    <div class="box">
        <div>
            <img src="./images/siteContent/UNDERCAR_CTA.png" alt="services" class="small-img" />
        </div>
        <h5>Undercar Services</h5>
        <p><a asp-controller="Home" asp-action="Undercar">Learn More</a></p>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <button class="btnServices">
                <div><a href="#">Schedule an Appointment</a></div>
            </button>
        </div>
        <div class="col">
            <button class="btnSchedule">
                <div><a href="#">Find Our Location</a></div>
            </button>
        </div>
    </div>
</div> <!-- Botões que fazem de Footer -->

<div class="container">
    <div class="row">
        <div class="col text-center">
            <img class="small-img-logo" src="./images/logoAutilizar.png" alt="Garage88 Logo">
        </div>
    </div>
</div> <!-- Garage88 Logo -->

<style>
    .carousel-item {
        height: 32rem;
        position: relative;
        background: #000;
        color: white;
    }

    .container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 30px;
    }

    li:hover {
        background-color: #f7b801;
    }

    li {
        background-color: #f4f3ee;
    }

    span.carousel-control-next-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f4f3ee' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
    }

    span.carousel-control-prev-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f4f3ee' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
    }

    span.carousel-control-next-icon:hover {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f7b801' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
    }

    span.carousel-control-prev-icon:hover {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f7b801' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
    }

    .overlay-image {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background-position: center;
        background-size: cover;
        opacity: 0.5;
    }

    .outsideBox {
        justify-content: space-evenly;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }

    .box {
        border: solid 1px #e0e1dd;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 10px;
        text-align: center;
        max-width: 100px; /* Reduzido */
        background-color: white;
        box-shadow: 0 20px 26px rgba(0, 0, 0, 0.04);
        z-index: 1;
    }

        .box::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(to left top, #f7b801, #fffc00);
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s;
            z-index: -1;
        }

        .box:hover img {
            transform: scale(1.2);
            transition: linear 0.3s;
        }

        .box:hover a {
            color: black;
        }

        .box:hover::before {
            opacity: 1;
            visibility: visible;
        }

    hr {
        color: transparent;
        box-shadow: 1px 1px 5px -1px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        max-width: 1000px;
    }

    button {
        all: unset;
        position: relative;
        cursor: pointer;
    }

    .btnServices div {
        position: relative;
        display: inline-block;
        overflow: hidden;
        width: auto;
        height: auto;
        padding: 15px 0;
        background: #ff4655;
        transition: ease-in 0.5s;
    }

    .btnServices:hover div {
        background: #353535;
    }

    .btnServices div a {
        position: relative;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        padding: 20px 80px;
        letter-spacing: 1px;
    }

        .btnServices div a:hover {
            color: #f7b801;
        }

    .btnSchedule div {
        position: relative;
        display: inline-block;
        overflow: hidden;
        width: auto;
        height: auto;
        padding: 15px 0;
        background: #353535;
        transition: ease-in 0.5s;
    }

    .btnSchedule:hover div {
        background: #ff4655;
    }

    .btnSchedule div a {
        position: relative;
        text-decoration: none;
        color: #f7b801;
        font-size: 14px;
        font-weight: bold;
        padding: 20px 80px;
        letter-spacing: 1px;
    }

        .btnSchedule div a:hover {
            color: #ffffff;
        }

    .img {
        left: auto;
        right: auto;
        padding: 0;
        background: black;
        margin-left: auto;
        margin-right: auto;
        max-width: 502px;
        border: solid 1px darkgrey;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

        .img img {
            max-width: 500px;
            justify-content: center;
            opacity: 0.5;
            filter: grayscale(100%);
        }

    mark.lime {
        color: #00ff00;
        background: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, cursive;
    }

    .spacing {
        margin-top: 30px;
    }


    /* ícones dos serviços prestados */
    .containerIcon {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .box {
        width: 200px;
        height: auto;
        padding: 20px;
        border: 1px solid #ccc;
        text-align: center;
        transform-origin: center;
    }

        /* Aplica as transformações para cada box individualmente */
        .box:nth-child(1) {
            transform: rotate(-5deg) translateX(-10px);
        }

        .box:nth-child(2) {
            transform: rotate(3deg) translateX(15px);
        }

        .box:nth-child(3) {
            transform: rotate(-8deg) translateY(10px);
        }

        .box:nth-child(4) {
            transform: rotate(5deg) translateX(-15px);
        }

        .box:nth-child(5) {
            transform: rotate(-3deg) translateY(-10px);
        }

        .box:nth-child(6) {
            transform: rotate(7deg) translateX(5px);
        }

        .box:nth-child(7) {
            transform: rotate(4deg) translateX(3px);
        }

        .box:nth-child(8) {
            transform: rotate(3deg) translateX(1px);
        }

    /* tamnho dos ícones dos serviços prestados */
    .small-img {
        width: 50px;
        height: auto;
    }

    /* ícones da Garage88 */
    .small-img-logo {
        width: 100px;
        height: auto;
    }
</style>
