@{
    ViewData["Title"] = "Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="height:80vh">
    <div class="col-1"></div>
    <div class="col-10" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom:25px;margin-top:25px; background-color:#f4f3ee;padding:0;display:inline-block">
        <div class="container-sm">
            <div class="imageContainer">
                <img src="/images/siteContent/maintenance.jpeg" />
            </div>
            <div class="servicesTitle">
                <p><b>General Auto Repair Services</b></p>
            </div>
        </div>

        <div class="container-sm">
            <div class="serviceContent">
                <p>
                    Whether you have a car that's been sitting a little too long
                    or a fleet that needs a basic check, Pitstop Autoshop in the Lisbon area can get your vehicle back on the road quickly, and we work
                    with your insurance company to ensure you get the best repair job at a
                    competitive price.
                    <br><br>
                    To schedule an appointment or find out more about what we can do for your
                    vehicle, contact us at 216589564.
                </p>

                <br><br>
                Our expert auto repair services include:
                <p>
                    <b>Domestic General Repair</b>
                    <br>No matter how carefully you drive, your domestic car will need occasional general repairs. These general repairs may include engine diagnostics and repairs,
                    alignments, brakes, front end and rear end diagnostic services and electronics service and repair. To have your domestic vehicle repaired and maintained,
                    contact Pitstop Autoshop today. At Pitstop Autoshop, we have experts who can handle even the most challenging domestic vehicles.
                </p>
                <p>
                    <b>Fleet Maintenance and Repair</b>
                    <br>As a fleet owner, you have to do all it takes to keep the fleet on the road. When any vehicle is out of service,
                    both revenue and your reputation as a reliable business are at risk. To make sure your fleet of trucks/vehicles is always on the road,
                    partner with a professional auto shop. At Pitstop Autoshop, we can manage your fleet repairs and maintenance. We make sure servicing
                    is up to date and up to standards. We handle all aspects of fleet repairs and maintenance.
                </p>
                <p>
                    <b>Import General Repair</b>
                    <br>
                    Import vehicles can be an economical or stylish alternative to domestic cars. Obviously, they will require general
                    repairs at some point. Additionally, maintenance and repair of these vehicles requires knowledge and tools not possessed
                    by many auto shops. If you have issues with your import vehicle, contact or visit Pitstop Autoshop today for
                    professional import general repairs. We have the expertise required to get your vehicle running like new again.
                </p>

                <br><br>

            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>


