@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="height:80vh">
    <div class="col-1"></div>
    <div class="col-10" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom:25px;margin-top:25px; background-color:#f4f3ee;padding:0;display:inline-block">
        <div class="container-sm">
            <div class="imageContainer">
                <img src="/images/siteContent/service.jpg" />
            </div>
            <div class="servicesTitle">
                <p><b>REPAIR SERVICES</b></p>
            </div>
        </div>

        <div class="container-sm">
            <div class="serviceContent">
                <p>
                    To keep your vehicle running properly at all times, we offer a number of services in the Lisbon
                    area that are carried out by our certified, expert auto service and repair technicians who have years of experience
                    performing everything from oil changes to a complete engine overhaul.

                    <br><br>
                    We use high-tech diagnostic equipment to guarantee your vehicle is repaired and/or serviced correctly the first time around,
                    and we only use the highest quality replacement parts, filters, oils, and components when it comes to your car.

                    <br><br>
                    Our services include:

                    <ul>
                        <li>Car & Truck Care</li>
                        <li>Electronic Services</li>
                        <li>Electrical Services</li>
                        <li>General Services</li>
                        <li>Heating and Cooling Services</li>
                        <li>Engine & Transmission</li>
                        <li>Miscellaneous  Services</li>
                        <li>Towing</li>
                        <li>Transmission Services</li>
                        <li>Undercar Services</li>
                        <li>Brakes</li>
                        <li>Import Cars & Trucks</li>
                        <li>Domestic Cars & Trucks</li>
                        <li>Engine Maintenance</li>
                        <li>4x4 Services</li>
                        <li>Tires</li>
                        <li>Inspections and Emissions</li>
                        <li>Alignment</li>
                        <li>AC Repair</li>
                    </ul>
                </p>


            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>


