@{
    ViewData["Title"] = "Undercar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="height:80vh">
    <div class="col-1"></div>
    <div class="col-10" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom:25px;margin-top:25px; background-color:#f4f3ee;padding:0;display:inline-block">
        <div class="container-sm">
            <div class="imageContainer">
                <img src="/images/siteContent/slide3.jpg" />
            </div>
            <div class="servicesTitle">
                <p><b>Undercar Services: Maintenance & Repair</b></p>
            </div>
        </div>

        <div class="container-sm">
            <div class="serviceContent">
                <br><br>
                To keep your vehicle running at peak performance, we provide undercar services that include:
                <br><br>
                <p>
                    <b>Alignment</b>
                    <br>
                    Wheel alignment (or simply alignment) is standard car maintenance that involves adjusting the angles of the wheels so that
                    they are set to the manufacturer's specifications. The main purpose is to let the suspension and the steering systems operate
                    at their desired angles - this reduces tire wear. Alignment is a complicated process and not all mechanics get it right.
                    To have experts handle your car's alignment, visit Pitstop's Autoshop Lisbon.
                </p>
                <p>
                    <b>Anti-Lock Brakes</b>
                    <br>Anti-lock brakes prevent wheel lock-up when rapidly decelerating by automatically modulating the brake pressure during
                    an emergency stop. With this system, the wheels are able to maintain traction with the road while braking. Failure of the
                    anti-lock brakes could lead to an increase in the risks of multiple vehicle crashes and run-off road crashes. To avoid this,
                    have your anti-lock brake system checked and repaired by experts. At Pitstop's Autoshop Lisbon, we have anti-lock brake
                    experts who will examine and repair your faulty ABS - keeping you safe.
                </p>
                <p>
                    <b>Brake System Flush</b>
                    <br>Brake fluid is hygroscopic (it absorbs moisture). The absorbed moisture lowers the fluid's boiling point. It also corrodes
                    the lines and cylinders. With the lowered boiling point, the brake fluid could boil during braking which makes you lose braking
                    ability. Although this is an extreme scenario, it does happen in heavy braking. To reduce the effects of the absorbed moisture,
                    auto manufacturers recommend that you have a brake flush done periodically. A brake system flush involves the replacement of used
                    and contaminated fluid with fresh fluid. With Pitstop's Autoshop Lisbon's quick lube services, you will have a brake system
                    flush performed by brake experts.
                </p>
                <p>
                    <b>Brakes</b>
                    <br>A brake is a mechanical device for slowing or stopping a vehicle (usually by means of friction). In short, a brake inhibits
                    your car's motion. It lets you stop the car whenever and wherever you choose. Brakes are one of the most important parts of a motor
                    vehicle. Without them, you would not be able to stop the car. If your vehicle's brakes are having issues, consider having them
                    worked on. Brake experts at Pitstop's Autoshop Lisbon can work on your car's brakes to ensure you have a safe drive.
                </p>
                <p>
                    <b>Chassis</b>
                    <br>A chassis is the car's internal framework that supports the body and other parts like the wheels, engine, transmission,
                    driveshaft, differential, and suspension. A weak or damaged chassis will translate to a weak car. To have a strong and properly
                    working vehicle, have your car's chassis checked for defects. At Pitstop's Autoshop Lisbon, there are experienced undercar
                    service providers who can work on your chassis.
                </p>
                <p>
                    <b>Differential Flush</b>
                    <br>The differential is a car part that compensates for the difference in travel distance between the inner wheels and
                    outer wheels when the vehicle is turning. Due to the differential's position in most non-four-wheel-drive (FWD) vehicles
                    (located at the rear and under the car), it does not get any of the star treatment the engine gets. The one thing that every
                    car owner needs to know is that <b>failure of the differential will mean failure of the car</b>. To save the differential from
                    failure, you need to have differential fluid changed every 30,000 to 50,000 miles. Changing the oil on the differential is as
                    important as changing the car's engine oil. Although checking and changing differential oil is pretty easy, you need to visit
                    an auto shop to get a comprehensive differential flush. For differential flush services, visit or call Eliot's Complete Auto
                    Repair in Lisbon today.
                </p>
                <p>
                    <b>Differentials</b>
                    <br>The differential transfers the engine power to the wheels. One important function of the differential is to pass on
                    power to the wheels while allowing them to rotate at different speeds - thus the name differential. When turning, the
                    outer wheels travel a larger distance than the inner wheels do (also the front wheels travel a longer distance than
                    the rear wheels). This means that all four wheels travel at different speeds during a turn and this is where the differential
                    comes in to help. To make sure your vehicle's differentials are working properly, have them checked regularly. Contact Eliot's
                    Complete Auto Repair today for differentials examination and servicing.
                </p>
                <p>
                    <b>Driveline</b>
                    <br>A driveline is a part of your motor vehicle that connects the engine and the transmission to the wheel axles.
                    The driveline consists of the parts of the powertrain less the engine and transmission. Failure of the driveline means
                    that the car would not move since energy cannot be transmitted from the engine to the wheel axles. Therefore, make sure
                    that your car's driveline is regularly inspected and serviced. And, at Pitstop's Autoshop Lisbon, you can have the
                    driveline serviced by experts.
                </p>
                <p>
                    <b>Exhaust</b>
                    <br>In a motor vehicle, an exhaust system is a piping used to guide exhaust fumes away from the engine - usually
                    to the rear of the vehicle. A properly functioning exhaust system not only sounds better, it is better - for you,
                    your car, and the environment. Pitstop's Autoshop Lisbon has expert technicians to service your car's exhaust
                    system.
                </p>
                <p>
                    <b>Shocks</b>
                    <br>Shocks (or shock absorbers) are mechanical devices designed to smooth out rough roads. The devices do this by
                    converting kinetic energy to another form of energy. Properly working shocks reduce the effect of traveling over rough ground,
                    leading to improved ride quality and vehicle handling. When shocks develop problems, driving on poorly leveled roads becomes
                    unpleasant, and your vehicle may sway when turning. To have your vehicle's shocks diagnosed and repaired, visit Eliot's
                    Complete Auto Repair today.
                </p>
                <p>
                    <b>Struts</b>
                    <br>Much like a shock absorber (shocks), your car's struts provide a dampening effect as you travel over a road's surface.
                    By absorbing the shock of the road, struts allow passengers to ride in a car without constant and uncomfortable motion.
                    Struts work a bit differently than shocks in that they provide structural support for your car's suspension. This means
                    that struts support your car's weight, unlike shocks which only regulate the speed at which the weight is transferred.
                    Struts usually last around 50,000 or 60,000 miles. This is simply because the damping characteristics of the parts gradually
                    deteriorate over time. Our expert technicians will diagnose any problems and help you make an informed decision about repairs
                    .
                </p>
                <p>
                    <b>Tires</b>
                    <br>As tires get older, they lose traction and deteriorate from the inside out, increasing the likelihood of a tire bursting.
                    This can cause a rapid loss of control of your vehicle. To have a better performing vehicle, you need to make sure the tires
                    are in good condition. For all your tire needs, contact Pitstop's Autoshop Lisbon today.
                </p>

                <br><br>

            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>


