@{
    ViewData["Title"] = "About Garage88";
}

<div class="row" style="height:70vh">
    <div class="col-1"></div>
    <div class="col-10" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom:25px;margin-top:25px; background-color:#f4f3ee;padding:0;display:flex">

       @*  <div class="technicians-link">
            <a class="aColor" asp-area="" asp-controller="About" asp-action="Technicians">Technicians</a>
        </div> *@

        <div class="col-7 imageBox">
            <img src="~/images/siteContent/nissan.jpg" />
        </div>
        <div class="col-5 content">
            <h1>About Us</h1>
            <p>
                Garage88 prides itself on providing a comprehensive range of services that cater to both everyday vehicle needs and the desires of car enthusiasts. Whether it's routine maintenance, complex engine work, or a full transformation project, the team at Garage88 combines technical expertise with a passion for innovation. Specializing in JDM car culture, they offer unique modifications such as turbo installations, exhaust upgrades, custom body kits, and ECU tuning, ensuring each vehicle performs at its peak while reflecting the owner's personal style. With a customer-first approach, cutting-edge tools, and a deep understanding of automotive trends, Garage88 has become a trusted name for those looking to enhance both the performance and appearance of their cars.
            </p>
            <div class="contentImage">
                <img src="~/images/siteContent/mazda.jpg" />
            </div>

        </div>

    </div>
    <div class="col-1"></div>
</div>

<style>
    .imageBox{
        min-height: 100%;
        display:flex;
        filter: drop-shadow(8px 8px 13px rgba(14, 30, 37, 0.50));
    }

    .imageBox>img{
        max-width:100%;
        margin: auto;
        object-fit: contain;
        filter:grayscale(100%);
        transition:all 0.4s;
    }

    .imageBox>img:hover{
        filter:grayscale(0);
    }

    .content{
        text-align: center;
        padding: 25px;

    }

    .contentImage{
        filter: drop-shadow(8px 8px 13px rgba(14, 30, 37, 0.50));
    }

    .content > h1{
       margin-bottom: 20px;
       color:#f7b801 ;
       filter:none;
    }

    .content > p{
        line-height:1;
        margin-bottom: 49px;
        filter:none;
    }

    .contentImage > img{
        max-width: 87%;
        filter: grayscale(100%);
        object-fit: contain;
        clip-path: polygon(0 22%,22% 0,100% 0,100% 0,100% 78%,78% 90%,0 90%);
        transition:all 0.4s;
    }
    .contentImage > img:hover{
        filter:grayscale(0);
    }

    /* .technicians-link {
        margin-top: 15px;
        margin-left: 90px;
        text-align: center;
    }

        .technicians-link a {
            color: #f7b801;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s ease;
        }

            .technicians-link a:hover {
                color: #ffcc00;
            } */

</style>