@model Garage88.Models.ServiceViewModel

@{
    Layout = "~/Views/Shared/_LayoutDashboardPanel.cshtml";
    ViewData["Title"] = "Services";
    ViewData["BreadCrumb"] = "Edit Service";
}

<hr />

<h4 style="text-align:center">Edit Service - @Html.DisplayFor(m => m.Name)</h4>

<hr />
<div class="row" style="margin-top:50px">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group">
                        <label asp-for="Discount" class="control-label"></label>
                        <input asp-for="Discount" class="form-control" />
                        <span asp-validation-for="Discount" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="row" style="margin-top:50px">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <div class="form-group">
                        <input type="submit" value="Save Service" class="btn btn-primary" />
                        <a asp-action="Index" style="margin-left:20px" class="btn btn-success">Back to Services List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @{
        await Html.RenderPartialAsync("_ValidationCurrencyPartial");
    }
}