@model Garage88.Models.ModelViewModel

@{
    // Layout = "~/Views/Shared/_LayoutDashboardPanel.cshtml";
    Layout = "_Layout";
    ViewData["Title"] = "Brands";
    ViewData["BreadCrumb"] = "Edit Model";
}

<hr />
<h4 style="text-align:center">Edit model @Html.DisplayFor(m => m.Name)</h4>
<hr />
<div class="row" style="justify-content:center; margin-top:50px">
    <div class="col-md-4">
        <form asp-action="EditModel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ModelId" />
            <input type="hidden" asp-for="BrandId" />

            <div class="form-group">
                <label class="control-label">Model Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-info" />
                <a asp-action="Details" asp-route-id="@Model.BrandId" class="btn btn-success">Back to Models List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

